body {
  margin: 0;
  min-width: 250px;
  background-color: black;
}
#h1 {
  color: black;
  font-family: arial;
}
#h2 {
  color: black;
  font-family: arial;
}
#h3 {
  color: white;
  font-family: arial;
}
#h32 {
  font-family: arial;
  font-size: 16px;
  color: black;
}
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #fff;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f7f7f7;
}

ul li:hover {
  background: #eee;
}

.check {
  background: #696969
  color: #fff;
  text-decoration: line-through;
}
.allTasks {
  background: #696969
  color: #fff;
  text-decoration: line-through;
}
.check:hover{
  background: #ff0000;
}

ul li.check::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.delBtn {
  background: #696969
  color: #fff;
  font-family: arial;
}

.delBtn:hover {
  background: #ff0000;
}


.header {
  background-color: #a9a9a9;
  padding: 30px 40px;
  color: white;
  text-align: center;
}


.header:after {
  content: "";
  display: table;
  clear: both;
}

#taskInput {
  padding: 10px;
  width: 50%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  font-family: arial;
}

#taskPriority {
  padding: 10px;
  width: 50%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
#addTaskButton {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-family: arial;
}
#addTaskButton:hover {
  background-color: #b1b1b1;
}
